<%
=begin%>
<h1>Login</h1>
<%= form_tag '/login' do %>
<%= label_tag :username%>
<%= text_field_tag :username %>
<%= label_tag :password%>
<%= password_field_tag :password%>
<%= submit_tag "Login"%>
<%end%>
<%
=end%>

<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="login login-5 login-signin-on d-flex flex-row-fluid" id="kt_login">
        <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid" style="background-image: url(https://metronic-assets.s3-ap-southeast-1.amazonaws.com/media/bg/bg-2.jpg);">
            <div class="login-form text-center text-white p-7 position-relative overflow-hidden">
                <!--begin::Login Header-->
                <div class="d-flex flex-center mb-15">
                    <a href="<%= root_path %>">
                        <%= image_tag 'logo/logo_white_p.png', style: 'width:100px;' %><br>
                        <%= image_tag 'logo/text_pinterusaha_white.png', style: 'width:300px;' %>
                    </a>
                </div>
                <!--end::Login Header-->
                <!--begin::Login Sign in form-->
                <div class="login-signin">
                    <div class="mb-15">
                        <h3 class="opacity-40 font-weight-normal"> Minutes of Meeting Apps</h3>
                    </div>
                    <%= form_with(url: login_path ) do |f| %>
                    <!--begin::Form group-->
                    <div class="form-group">
                        <%= f.label :username, :class => "font-size-h6 font-weight-bolder text-light" %>
                        <%= f.text_field :username, :class => "form-control form-control-solid h-auto py-4 px-4 rounded-lg" %>
                    </div>
                    <!--end::Form group-->
                    <!--begin::Form group-->
                    <div class="form-group">
                        <%= f.label :password, :class => "font-size-h6 font-weight-bolder text-light" %>
                        <%= f.password_field :password, :class => "form-control form-control-solid h-auto py-4 px-4 rounded-lg"  %>
                    </div>
                    <!--end::Form group-->
                    <%= f.submit "Let me in", :class => "btn btn-primary font-weight-bolder font-size-h5 px-7 py-4 my-3 mr-4" %>
                    <% end %>

                </div>

                <!--end::Login Sign in form-->
            </div>
        </div>
    </div>
    <!--end::Login-->
</div>