<%= simple_form_for(@note) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
    <%= f.input :letternum %><br>
    <%= f.input :agenda %><br>
    <%= f.input :attendance %><br>
    <%= f.input :datetim %><br>
    <%= f.input :addnote %><br>
    <h3>member:</h3>
    <div id='minutes'>
        <%= f.fields_for :minutelists do |minutelist_fields| %>
        <%= render 'minutelist_fields', f: minutelist_fields %>
        <% end %>
        <div class='links'>
            <%= link_to_add_association 'add minute', f, :minutelists %>
        </div>
    </div>

    <div class="form-actions">
        <%= f.button :submit %>
    </div>
    <% end %>