<div class="pb-5" data-wizard-type="step-content" data-wizard-state="current" data-controller="picker--location">
    <%= simple_form_for @note, :html => { :class => 'form-vertical' } do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs">
        <%= f.input :letternum %><br>
        <%= f.input :agenda %><br>
        <%= f.label :attendance %>
        <%= f.collection_check_boxes :attendance, Member.where(team_id: current_team.id), :name, :name, :multiple => true %>
        <%= f.input :datetim %><br>
        <%= f.input :addnote %><br>
        <h3>Minutes:</h3>
        <div id='minutes'>
            <%= f.fields_for :minutelists do |minutelist_fields| %>
            <%= render 'minutelist_fields', f: minutelist_fields %>
            <% end %>
            <div class='links'>
                <%= link_to_add_association 'add minute', f, :minutelists %>
            </div>
        </div>

        <div class="form-actions">
            <%= f.button :submit %>
        </div>
        <% end %>
    </div>
</div>