<!DOCTYPE html>
<html>

<head>
    <style>
    </style>
    <title>PDFs | Ruby on Rails</title>
    <%= wicked_pdf_stylesheet_link_tag "note" %>
</head>

<body>
    <div id="header">
        <%= image_tag wicked_pdf_asset_base64('hdwg.png') %>
    </div>
    <div class="invoice-box">
        <table>
            <tr class="heading">
                <td colspan="2">Notulen Stand Up Divisi <%= current_team.name %><br><%= @note.letternum %></td>
            </tr>
            <tr class="details">
                <td>Agenda</td>
                <td class="left"><%= @note.agenda %></td>
            </tr>
            <tr class="details">
                <td>Jam & Tanggal</td>
                <td class="left"><%= @note.datetim.strftime("%d %B %Y, %H:%M") %></td>
            </tr>
            <tr class="details">
                <td>Kehadiran</td>
                <td><strong>Team <%= current_team.name %></strong>;<br><%= @note.attend.split(',').join("\n").gsub!(/([^\n]\n)(?=[^\n])/, '\1<br />').html_safe %></td>
            </tr>
            <br>
            <tr class="heading">
                <td colspan="2">Hasil Standup</td>
            </tr>
            <tr class="heading">
                <td><%= current_team.name %> Team </td>
                <td>Progress dan Pekerjaan</td>
            </tr>
            <% @note.minutelists.each do |minutelist| %>
            <tr class="details">
                <td><%= minutelist.member %></td>
                <td><%= minutelist.minute.split(',').join("\n").gsub!(/([^\n]\n)(?=[^\n])/, '\1<br />').html_safe %></td>
            </tr>
            <% end %>
        </table>
    </div>
</body>

</html>