<div class="pb-5" data-wizard-type="step-content" data-wizard-state="current" data-controller="picker--location">
    <%= simple_form_for @member, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs">
        <%= f.input :name %><br>
        <%= f.input :desc %><br>
        <%= f.association :team, :as => :hidden, :input_html => { :value => current_team.id }  %>
        <div class="form-actions">
            <%= f.button :submit %>
        </div>
        <% end %>
    </div>
</div>